html {
    font-size: $base-font;
}

body {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6;
    color: $font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100% - 2 * $site-gutter;
    max-width: $site-width;
    margin-right: auto;
    margin-left: auto;
  
    &.container--center-vertical {
      align-items: center;
    }
  
    &.container--wrap {
      flex-wrap: wrap;
    }
  }

  .title-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .title {
        font-size: $font-size-h2;
    }
  }

  .icon {
      margin-left: 7px;
      margin-top: 2px;
  }