// Site Attr.

$site-width: 1600px;
$site-gutter: 10%;

// Sizes (px)
$size-xxl: 1600px;
$size-xl: 1400px;
$size-l: 1200px;
$size-desktop: 1024px;
$size-tablet:  768px;

// Font Attr.
$base-font: 16px;
$font-family: 'Assistant', Helvetica, Arial, sans-serif;
$font-size-h1: 2.3rem;
$font-size-h2: 2.1rem;
$font-size-h3: 1.8rem;
$font-color: #5d5d5d;


// Colors
$primary-color: #DE5700;
$primary-color-light: rgba(222, 89, 0, 0.644);
$primary-color-dark: #b34f0ce1;
// $secondary-color-light: #f5d86d;
$secondary-color-light: #f56d6de0;

$grey-color: #fbfbfb;
$dark-grey-color: #757575;
$black-color: #5d5d5d;
$white-color: #fff;