.amenities-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    justify-content: center;

    > .amenities-item {
        color: $grey-color;
        font-size: 1.3rem;
        margin-left: 2.5em;
    }

    &.-properties {
        flex-direction: column;

        > .amenities-item {
            font-size: 1.1rem;
        }

        @include max-width($size-mobile) {
            margin-top: 0.5em;
    
            > .amenities-item {
                font-size: 0.8rem;
            }
        }
    }

    &.-property {
        @include max-width($size-mobile) {
            justify-content: space-evenly;
            width: 90%;
            
            > .amenities-item {
                font-size: 0.9rem;
            }            
        }
    }
}