nav {
    position: relative;
    padding: 2em 0 0 0;
    align-items: center;
    z-index: 10;
    background-color: $blue-color;

    .nav__brand {
        flex: 1 1 0;
        align-self: flex-start;

        a {
            display: inline-block;
        }

        img {
            height: auto;
            width: 130px;
            overflow: visible;
            transition: all 1.2s ease-in-out;
        }
    }

    select {
        height: 2.5em;
    }

    .nav__items {
        flex: 4 1 0;
        margin: 0;
        padding: 0;
        text-align: right;
        vertical-align: top;

    }

    .nav__item {
        display: inline-block;
        padding: 0 40px;
        letter-spacing: 0.5px;
        font-size: 1.5rem;
        transition: color 250ms ease;

        @include max-width($size-tablet * 1.2) {
            padding: 0 20px;
            width: 100%;
        }

        > ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: all 0.5s ease;
            bottom: 0;
            display: none;
            list-style: none;
            
            > li {
                padding: 1rem;
                position: relative;
                text-decoration: none;
                clear: both;
                width: 100%;
            }

            &:hover {
                visibility: visible;
                opacity: 1;
                display: block;
            }
        }

        

        &:hover {
            color: $primary-color-light;
            
            > ul {
                visibility: visible;
                opacity: 1;
                display: block;
            }
        }
    }
}