.property-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;

    > h2 {
        font-size: 1.6rem;

        @include max-width($size-tablet) {
            font-size: 1.2rem;
        }
    }

    > .property-pills {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3em;
        width: 40%;
        font-size: 2rem;
        
        @include max-width($size-tablet) {
            width: 60%;
            margin-top: 1em;
        }

        > .pill {
            padding: 20px;
            margin: 2px;
            border-radius: 20%;
            background-color: rgba(256,256,256,0.8);
            border: 1px solid grey;
            font-size: 1.8rem;
            color: $green-color;
            cursor: pointer;

            a {
                padding: 0 15px 0 15px;
            }

            &:hover {
                background: $green-color;
                color: white;
            }

            @include max-width($size-tablet) {
                padding: 10px;
            }
        }
    }

    > .sub-text {
        margin-top: 5em;
        font-size: 1rem;
        color: rgba(256,256,256,0.8);

        @include min-width(768px) {
            margin-top: 2em;
        }
    }

}