.property-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    flex-direction: column;
    background-color: $white-color;
    padding: 0 1em 1em 1em;

    > .title {
        font-size: 2rem;
        margin: 0.5em;
        color: $dark-blue-color;
        letter-spacing: 4px;
        border-bottom: 1px solid $grey-color;

        @include max-width($size-mobile) {
            font-size: 1.5rem;
        }
    }

    > .tagline {
        padding: 1.5em 1em 1em 1em;
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 2px;
        line-height: 1.2em;

        @include max-width($size-mobile) {
            font-size: 1.1rem;
        }
    }

    > .breakdown {
        padding: 1em;

        @include min-width($size-desktop) {
            width: 80%;
        }
    }

    .inline {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 2em;

        @include max-width($size-mobile) {
            flex-direction: column;
            padding: 0;
        }

        > button {
            background: $light-green-color;
            background-size: 200%;
            padding: 20px 40px;
            border: none;
            border-radius: 50%;
            color: white;
            justify-content: center;
            cursor: pointer;
            font-size: 1.5rem;

            @include max-width($size-mobile) {
                font-size: 1rem;
                padding: 0.5em;
                width: 50%;
                align-self: center;
                margin-top: 0.5em;
                display: none;
            }
            
            &:hover {
                text-decoration: none;
                animation: gradient-button 2.5s linear infinite;
            }

            &:focus {
                outline: none;
            }
        }

        > .price-box {
            align-self: center;
            padding: 1em;

            @include max-width($size-mobile) {
                align-self: flex-end;
                padding: 0 1em 1em 1em;
            }
        }

        > .map-link {
            @include max-width($size-mobile) {
                align-self: center;
                margin: 1em 0 1em;
            }

            > a {
                @include max-width($size-mobile) {
                    padding: 1em;
                    background-color: $light-green-color;
                    border-radius: 50%;
                    color: white;
                }
            }

            @include min-width($size-mobile) {
                display: none;
            }
        }
    }

    > .static-map {
        padding: 1em;

        @include min-width($size-desktop) {
            padding: 0.5em;
        }

        @include max-width($size-mobile) {
            display: none;
        }        
    }
}