.video-player {
    $header-size: 3rem;
    $sub-header-size: 1.6rem;
    position: relative;
    padding: 2em 0;

    > video {
        width: 100%;
        vertical-align: middle;
        height: auto;
    }

    > .overlay {        
        color: $blue-color;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: rgba(0,0,0,0);
        
        > h1 {
            font-size: $header-size;
            letter-spacing: 2.5px;
            margin-top: -1.5em;
            
            @include max-width($size-mobile) {
                font-size: 1.5rem;
                margin-top: -1.5em;              
            }
        }

        > h2 {
            font-size: $sub-header-size;

            @include max-width($size-desktop) {
                font-size: 1rem;
            }
        }        
    }
}